*.css linguist-vendored
*.html linguist-vendored
*.svg linguist-vendored

weather-app/frontend/src/App.jsx linguist-vendored

# 4. FORCE THE BACKEND TO BE THE FOCUS
weather-app/backend/app.py linguist-detectable
weather-app/backend/app.py linguist-vendored=false
