weather-app/frontend/** linguist-vendored

package-lock.json linguist-vendored
package.json linguist-vendored
*.json linguist-vendored
*.config.js linguist-vendored
.eslint* linguist-vendored

*.css linguist-vendored
*.html linguist-vendored
*.svg linguist-vendored

# We only allow App.jsx to be visible to keep the JS color sliver
weather-app/frontend/src/App.jsx linguist-detectable
weather-app/frontend/src/App.jsx linguist-vendored=false

weather-app/backend/app.py linguist-detectable
weather-app/backend/app.py linguist-vendored=false
